.row
  .col-xs-12.text-center
    %span.badge STEP 1
    %br/
    %br/
    Get up-to-date CSV files ("hopkins-terms.csv" and "hopkins.csv") used in Berzin Archives OpenCms
    %br/
    %br/
.row
  .col-xs-12.text-center
    %span.badge STEP 2
    %br/
    %br/
    Choose files and start Import
    %br/
    %br/
    = form_tag hopkins_admin_imports_path, method: :post, :multipart => true, id: 'import-hopkins-form' do
      %fieldset.col-sm-8.col-sm-offset-2.col-xs-12
        .form-group.text-left
          %label.control-label.text-center hopkins.csv file:
          = file_field_tag :file_small, :accept => 'text/csv', required: true, autocomplete: 'off'
          %p.help-block Comma separated, with two columns "Tibetan" and "JH-ENG"

        .form-group.text-left
          %label.control-label.text-center hopkins-terms.csv file:
          = file_field_tag :file_large, :accept => 'text/csv', required: true, autocomplete: 'off'
          %p.help-block Comma separated, with tree columns "TIBETAN", "ENGLISH" and "SANSKRIT"

        = submit_tag 'Import', class: 'btn btn-primary btn-sm', data:{confirm: 'Are you sure?'}, id: 'import-hopkins-button'
        %br/
        %br/

:javascript
  $(function() {
    $('#import-hopkins-form').on('submit', function(){
      $('#import-hopkins-button').prop('disabled', 'disabled');
      $('#import-hopkins-button').val('Please wait. Importing...')
    });
  });
