%h3{style: "#{EmailHelper.h3_style}"} PASSWORD CHANGED
%p{style: 'font-size:16px; font-weight:100;'}
  = @user.name.upcase

%p{style: "#{EmailHelper.p_style}"}
  Your Team Glossary password was successfully changed.
  %br/
