- content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to 'Import', admin_imports_path
    %li= link_to 'New Glossary Import', new_admin_import_path

%h3 Import Glossary (Does not work - under construction)

.panel.panel-default
  .panel-body.special-border
    .row
      .col-xs-12
        Prepare Excel (or CSV) file with terms to be imported into Glossary:
        %ul
          %li make sure it contains only technical terms, only proper names or only text titles;
          %li make sure all terms and translactions are in Singular form (example: "karmic action" is OK, "karmic actions" is not OK);
          %li export your Excel file into CSV format.
    .row
      = render 'form', import: @import
