.row
  .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1
    %h3
      = link_to root_path do
        %i.fa.fa-angle-left
        = @glossary_name.term

    .panel.panel-default
      .panel-body.special-border
        = render 'show', search_terms_display_options(@language, {item: @glossary_name})

- if current_user
  .row
    .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1
      = render 'shared/term_comments', language: @language, term: @glossary_name
