.well.well-sm
  %h4 Roles and Permissions
  %ul
    %li
      %strong Manager
      (or Language Section Administrator) has full access to Language Section: team management, glossaries management, etc.
    %li
      %strong Editor
      (or Language Glossaries Owner) has full access to all Glossaries within Language Section.
    %li
      %strong User
      (or Regular User) has readonly access to all Glossaries within Language Section, but can participate in Language Section discussions.

  %strong Note:
  all users of all Language Sections has readonly access to all Glossaries
