.div{style: 'position: absolute; bottom: 0; right: 8px;'}
  = link_to new_language_general_menu_general_menu_action_path(language, term, show_tasks: true), class: 'text-muted', remote: true do
    %i.fa.fa-plus-circle
    edit task list
