%tr
  %td
    = render 'shared/term_marks', language: language, term: item

    %strong= item.term


  - unless language.is_base_language?
    %td
      - translation = item.glossary_term_translations.select{|t| t.language_id == @language.id}.first
      - if translation.present?
        %strong= translation.term
  %td
