.modal-header
  %button{:type => 'button', 'data-dismiss' => 'modal', :class => 'close', 'aria-hidden' => true}= '&times;'.html_safe
  %h4
    = @glossary_title.term
.modal-body
  .row= render 'show', language: @language, item: @glossary_title
