%h2
  = link_to root_path do
    %i.fa.fa-angle-left
    = @glossary_title.term

.panel.panel-default
  .panel-body
    = render 'show', language: @language, item: @glossary_title

.col-xs-12
  = render 'shared/term_comments', language: @language, term: @glossary_title
