body.glossary_titles, body.glossary_terms, body.glossary_names
  h4.term_title
    margin-top: 2px
    padding-left: 20px

  h4.title
    margin-top: 2px

  form
    .form-group
      h4
        padding-left: 15px
